In [1]:
import pandas as pd

In [63]:
df = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [64]:
df = df[0]
df.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

## 1.

In [68]:
df.rename(columns={'POS':'POZ', 'TITLE':'TYTUŁ', 'ARTIST':'ARTYSTA', 'YEAR':'ROK', 'HIGH POSN':'MAX POZ'}, inplace=True)
df.head()

   POZ                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

In [70]:
df.set_index('POZ', inplace=True)
df.head()

                                    TYTUŁ  ARTYSTA   ROK  MAX POZ
POZ
1                           GREATEST HITS    QUEEN  1981        1
2                    GOLD - GREATEST HITS     ABBA  1992        1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
4                                      21    ADELE  2011        1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

## 2.

In [73]:
df['ARTYSTA'].nunique()

47

## 3.

In [91]:
df['ARTYSTA'].value_counts()[df['ARTYSTA'].value_counts() == df['ARTYSTA'].value_counts().max()]

COLDPLAY     3
TAKE THAT    3
Name: ARTYSTA, dtype: int64

## 4.

In [94]:
df.rename(str.title, axis=1, inplace=True)
df.head()

                                    Tytuł  Artysta   Rok  Max Poz
POZ
1                           GREATEST HITS    QUEEN  1981        1
2                    GOLD - GREATEST HITS     ABBA  1992        1
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
4                                      21    ADELE  2011        1
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

## 5.

In [99]:
df.drop('Max Poz', axis=1, inplace=True)
df.head()

                                    Tytuł  Artysta   Rok
POZ
1                           GREATEST HITS    QUEEN  1981
2                    GOLD - GREATEST HITS     ABBA  1992
3    SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
4                                      21    ADELE  2011
5          WHAT'S THE STORY MORNING GLORY    OASIS  1995

## 6.

In [120]:
df.groupby('Rok').count()[df.groupby('Rok').count() == df.groupby('Rok').count().max()].dropna()

      Tytuł  Artysta
Rok
1987    4.0      4.0
2000    4.0      4.0

## 7.

In [138]:
df[(df['Rok']>1960)&(df['Rok']<1990)].count()

Tytuł      21
Artysta    21
Rok        21
dtype: int64

## 8.

In [144]:
df[df['Rok'] == df['Rok'].max()]['Rok']

POZ
27    2015
Name: Rok, dtype: int64

## 9.

In [227]:
df_gr = df.groupby(['Artysta', 'Rok']).Tytuł.max()
df_gr

Artysta                   Rok
ABBA                      1975                             GREATEST HITS
                          1992                      GOLD - GREATEST HITS
ADELE                     2011                                        21
                          2015                                        25
ALANIS MORISSETTE         1995                        JAGGED LITTLE PILL
AMY WINEHOUSE             2006                             BACK TO BLACK
BEATLES                   1967      SGT PEPPER'S LONELY HEARTS CLUB BAND
                          2000                                         1
BOB MARLEY & THE WAILERS  1984                                    LEGEND
COLDPLAY                  2000                                PARACHUTES
                          2002               A RUSH OF BLOOD TO THE HEAD
                          2005                                       X&Y
CORRS                     1997                           TALK ON CORNERS
DAVID GRAY                1998                              WHITE LADDER
DIDO                      2000                                  NO ANGEL
                          2003                             LIFE FOR RENT
DIRE STRAITS              1985                          BROTHERS IN ARMS
ED SHEERAN                2014                                         X
EMINEM                    2000                   THE MARSHALL MATHERS LP
FLEETWOOD MAC             1977                                   RUMOURS
                          1987                        TANGO IN THE NIGHT
GEORGE MICHAEL            1998          LADIES & GENTLEMEN - THE BEST OF
JAMES BLUNT               2004                            BACK TO BEDLAM
JEFF WAYNE                1978                     THE WAR OF THE WORLDS
KEANE                     2004                           HOPES AND FEARS
KINGS OF LEON             2008                         ONLY BY THE NIGHT
LADY GAGA                 2008                                  THE FAME
LEONA LEWIS               2007                                    SPIRIT
MADONNA                   1990                 THE IMMACULATE COLLECTION
MEAT LOAF                 1977                           BAT OUT OF HELL
MICHAEL BUBLE             2009                                CRAZY LOVE
MICHAEL JACKSON           1982                                  THRILLER
                          1987                                       BAD
MIKE OLDFIELD             1973                             TUBULAR BELLS
NORAH JONES               2002                         COME AWAY WITH ME
OASIS                     1995            WHAT'S THE STORY MORNING GLORY
ORIGINAL CAST RECORDING   1965                        THE SOUND OF MUSIC
ORIGINAL SOUNDTRACK       1977                                    GREASE
                          1987                             DIRTY DANCING
PAUL SIMON                1986                                 GRACELAND
PHIL COLLINS              1989                             BUT SERIOUSLY
PINK FLOYD                1973                 THE DARK SIDE OF THE MOON
QUEEN                     1981                             GREATEST HITS
                          1991                          GREATEST HITS II
REM                       1992                  AUTOMATIC FOR THE PEOPLE
ROBBIE WILLIAMS           1998                   I'VE BEEN EXPECTING YOU
                          2001                 SWING WHEN YOU'RE WINNING
SCISSOR SISTERS           2004                           SCISSOR SISTERS
SHANIA TWAIN              1997                              COME ON OVER
SIMON & GARFUNKEL         1970                BRIDGE OVER TROUBLED WATER
SIMPLY RED                1991                                     STARS
SNOW PATROL               2006                                 EYES OPEN
SPICE GIRLS               1996                                     SPICE
TAKE THAT                 2005    NEVER FORGET - THE ULTIMATE COLLECTION
                          2006                           BEAUTIFUL WORLD
                          2010                                  PROGRESS
TRACY CHAPMAN             1988                             TRACY CHAPMAN
TRAVIS                    1999                               THE MAN WHO
U2                        1987                           THE JOSHUA TREE
VERVE                     1997                               URBAN HYMNS
Name: Tytuł, dtype: object

In [229]:
list = []
[list.append(df_gr.loc[a].iloc[0]) for a in df['Artysta'].sort_values() if df_gr.loc[a].iloc[0] not in list]
list

['GREATEST HITS',
 '21',
 'JAGGED LITTLE PILL',
 'BACK TO BLACK',
 "SGT PEPPER'S LONELY HEARTS CLUB BAND",
 'LEGEND',
 'PARACHUTES',
 'TALK ON CORNERS',
 'WHITE LADDER',
 'NO ANGEL',
 'BROTHERS IN ARMS',
 'X',
 'THE MARSHALL MATHERS LP',
 'RUMOURS',
 'LADIES & GENTLEMEN - THE BEST OF',
 'BACK TO BEDLAM',
 'THE WAR OF THE WORLDS',
 'HOPES AND FEARS',
 'ONLY BY THE NIGHT',
 'THE FAME',
 'SPIRIT',
 'THE IMMACULATE COLLECTION',
 'BAT OUT OF HELL',
 'CRAZY LOVE',
 'THRILLER',
 'TUBULAR BELLS',
 'COME AWAY WITH ME',
 "WHAT'S THE STORY MORNING GLORY",
 'THE SOUND OF MUSIC',
 'GREASE',
 'GRACELAND',
 'BUT SERIOUSLY',
 'THE DARK SIDE OF THE MOON',
 'AUTOMATIC FOR THE PEOPLE',
 "I'VE BEEN EXPECTING YOU",
 'SCISSOR SISTERS',
 'COME ON OVER',
 'BRIDGE OVER TROUBLED WATER',
 'STARS',
 'EYES OPEN',
 'SPICE',
 'NEVER FORGET - THE ULTIMATE COLLECTION',
 'TRACY CHAPMAN',
 'THE MAN WHO',
 'THE JOSHUA TREE',
 'URBAN HYMNS']

## 10.

In [236]:
pd.Series(list).to_csv('firtsAlbumList.csv', index=False)